{{ define "main" }}
{{ block "header" . }}{{ partial "header" . }}{{end}}
<!-- wide page template -->
<div class="wrapper">

  <main class="main main--default">
    <div class="content">
      <div class="skr-container is-narrow pt-16 text-center">
        <div class="markdown">
          <div class="status__header">
            <img id="status-header-image"/>
            <h1 id="status-header-title"></h1>
            <p id="status-header-text"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="skr-container pt-16 pb-16 text-center">
        <ul class="status-list" id="status-list">

        </ul>
      </div>
    </div>

    <script>
      var request = new XMLHttpRequest();

      request.onload = function () {
        if (request.status >= 200 && request.status < 300) {
          let response = JSON.parse(request.responseText);
          let overallStatus = 1;
          response.data.forEach((item) => {
            let li = document.createElement('li');

            // Prepare status html
            let statusMsg, statusImgSrc;
            switch (item.status) {
              case 0:
              case 1:
                statusMsg = 'Good'
                statusImgSrc = 'status-good.svg';
                break;
              case 2:
              case 3:
                statusMsg = 'Disrupted';
                statusImgSrc = 'status-disrupted.svg';
                break;
              case 4:
                statusMsg = 'Outage';
                statusImgSrc = 'status-outage.svg';
                break;
            }

            console.log(statusMsg);

            let statusHtml = `<strong>${statusMsg}</strong><img class="status-list__status-img" src="${statusImgSrc}" />`;

            li.innerHTML = `<div class="status-list__label">${item.name}</div><div class="status-list__status">${statusHtml}</div>`;
            li.setAttribute('class', 'status-list__item');
            document.getElementById('status-list').appendChild(li);
            if ([2,3].includes(item.status)){
              if(overallStatus < 4){
                overallStatus = 3;
              }
            } else if ([4].includes(item.status)){
              overallStatus = item.status;
            }
          });

          let image = document.getElementById("status-header-image");
          let title = document.getElementById("status-header-title");
          let text = document.getElementById("status-header-text");

          if (overallStatus === 1){
            image.src = "";
            title.textContent = "Skribble is up and running";
            text.innerHTML = "Having trouble? Check our help center or e-mail us at <a href=\"mailto:support@skribble.com\">support@skribble.com</a>";
          } else if (overallStatus === 3){
            image.src = "";
            title.textContent = "Skribble has limited service";
            text.innerHTML = "We are investigating issues with the „signing platform” and will provide updates here soon.";
          } else if (overallStatus == 4){
            image.src = "";
            title.textContent = "Skribble has a service outage";
            text.innerHTML = "We are investigating issues with the „signing platform” and will provide updates here soon.";
          }

        } else {
          console.log('The request failed!');
        }
      };

      request.open('GET', 'https://status.skribble.com/api/v1/components');
      request.send();

    </script>

  </main>
  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
</div>
{{ end }}