.action-card {
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 650px;
    display: flex;
    box-shadow: 0px 0px 10px #DDD;
    font-size: 1.6rem;
    strong {
        color: $c-text-alt;
    }

    .content {
        width: 100%;
        padding: 24px 24px 12px 24px !important;

        .top {
            max-height: 280px;
            flex-grow: 1;
            display: flex;
            flex-flow: column wrap;
            margin-bottom: 12px;
            column-gap: 5%;

            @media only screen and (max-width: 720px) {
                max-height: none;
                height: auto;
            }

            .title {
                color: $c-text-alt;
                margin: 0px;
                padding-bottom: 24px;
                order: 0;
            }

            .description {
                order: 10;
                width: 40%;
                @media only screen and (max-width: 720px) {
                    width: 100%;
                }
            }

            .image{
                height: 180px;
                order: 20;
                width: 55%;
    
                .picture {
                    padding: 0px;
                }

                @media only screen and (max-width: 720px) {
                    order: 5;
                    margin: 12px 0px;
                    height: 100%;
                    width: 100%
                }
            }
        }

        p {
            margin: 0px;
        }

        .large {
            font-size: 150%;
        }

        .top-spaced {
            margin-top: 24px;
        }

        .button {
            padding: 12px 0px;
            width: 100%;

            .btn {
                width: 100%;
            }
        }

        .subtext, .caption {
            font-size: 70%;
        }

        .caption {
            order: 40;
            width: 60%;
            margin: top;
            display: flex;
            flex: 1;
            align-items: flex-end;

            @media only screen and (max-width: 720px) {
                margin: 12px 0px;
                height: 100%;
                width: 100%
            }
        }
    }
}