.center-block {
  @include site-width($narrow: true);
  @include vertical-unit-margins;
  @include add-richtext-styling;
  text-align: center;

  .content {
    text-align: center;
  }

  .picture {
    display: flex;
    justify-content: center;
    padding: 44px 0;
  }

  .row,
  .column {
    margin-top: 80px;
    text-align: left;
  }
}
