.center-block {
  @include standard-padding;
  padding-top: 88px;

  &__inner {
    @include add-richtext-styling;
    text-align: center;

    &.container {
      width: $center-block-width;
    }
  }

  .content {
    text-align: center;
  }

  .picture {
    display: flex;
    justify-content: center;
    padding: 44px 0;
  }

  .row,
  .column {
    text-align: left;
  }
}
