.content {
  @include add-richtext-styling;
  max-width: 100%;
  text-align: left;
  @include max-width {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  a:not(.btn) {
    color: $c-text;
    text-decoration: none;
    &:hover {
      color: $c-primary;
    }
  }

  h2 {
    margin: 3rem 0 1rem;
    font: bold 2.4rem/1.35 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 2rem;
    }
  }

  h3 {
    margin: 3rem 0 0;
    font: bold 2rem/1.4 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 1.8rem;
    }

    + p,
    + ol,
    + ul {
      margin-top: 0;
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $c-border;
    text-align: left;
  }

  dt {
    flex: 0 0 30%;
    padding: 22px 22px 22px 0;
    border-top: 1px solid $c-border;
    font-weight: bold;
    font-size: 2rem;
    color: $c-text-alt;
    @include max-width {
      flex-basis: 100%;
      padding-right: 0;
    }
  }

  dd {
    flex: 0 0 70%;
    margin-left: 0;
    padding: 22px 0 22px 22px;
    border-top: 1px solid $c-border;
    @include max-width {
      flex-basis: 100%;
      padding-left: 0;
      padding-top: 0;
      border-top: 0;
    }
  }

  strong {
    color: $c-text-alt;
  }

  img {
    display: block;
    // max-width: 100%;
    // margin: 40px auto;
  }
}
