.klaro {
  .cm-btn {
    border-radius: 3px !important;
    padding: 8px 12px !important;
  }

  .cookie-notice {
    a {
      color: white !important
    }
    
    .cm-btn {
      background: #006df2 !important;
    }
  }

  .cookie-modal {
    a {
      color: #006df2 !important
    }

    .cm-btn-accept-all {
      background: #006df2 !important
      
    }

    .cm-btn-info {
      background: #888888 !important
    }

    .cm-app-input:checked+.cm-app-label .slider {
      background-color: #006df2 !important
    }
    .cm-app-input.required:checked+.cm-list-label .slider {
      background-color: #60718e !important
    }
  }
}