.lightbox {
  @include half-padding;
  display: flex;
  justify-content: center;

  .img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
  }

  .img-overlay-wrap img { /* <= optional, for responsiveness */
    display: block;
    max-width: 100%;
    height: auto;
  }

  .img-overlay-wrap .circle-main {
    background: #006df2;
    opacity: 70%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 250ms ease-in-out;
  }

  .img-overlay-wrap svg {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }

  .img-overlay-wrap:hover .circle-main {
    opacity: 100%;
  }
}

.wa-mediabox-close:hover{background:#006df2 !important}