.logos-item {    
    display: flex;
    align-items: center;
    
    .logos-flex-item {
        margin: 10px;
        text-align: center;
        align-items: center;
        display: flex;
    }
    
    @media screen and (max-width: 970px) {
        .logos-flex-item {
            margin-top: 10px;
            text-align: center;
        }
    }
}