@mixin site-width($narrow: false) {
  display: block;
  width: 1400px;
  width: 1200px;
  max-width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-left: auto;
  margin-right: auto;
  @if $narrow {
    width: 768px;
  }
}

@mixin half-padding {
  padding-top: 22px;
  padding-bottom: 22px;
}

@mixin standard-padding {
  padding-top: 44px;
  padding-bottom: 44px;
}

@mixin double-padding {
  padding-top: 88px;
  padding-bottom: 88px;
}

@mixin add-richtext-styling {
  h1, h2 {
    margin: 0 0 10px 0;
    font: bold 4rem/1.1 $averta;
    color: $c-text-alt;
    @include max-width {
      font-size: 3rem;
    }

    + p {
      margin: 10px 0 0 0;
    }
  }
}

@mixin reset-list-styling {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin max-width {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin max-width-xs {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin min-width {
  @media (min-width: 768px) {
    @content;
  }
}