.side-by-side {
  @include standard-padding;

  &__inner {
    display: flex;
    align-items: center;
    width: $side-by-side-width;
    @include max-width {
      flex-direction: column;
    }
  }

  .content {
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
    @include max-width {
      order: -1;
    }

    h2:first-child {
      margin-top: 0;
    }
  }

  .picture {
    @include min-width {
      flex: 1 1 100%;
      padding: 0 40px;
    }
  }
}
