.status {
  &-block {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: 0 2px 20px 0 rgba(41,61,102,0.20);
    width: 100%;
  }

  &-list {
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid $c-border;
      font-weight: bold;
      color: $c-text-alt;
      &:last-child {
        border-bottom: 0;
      }
    }

    &__label {
      flex: 1 1 75%;
      padding: 20px;
      text-align: left;
    }

    &__status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 1 25%;
      padding: 20px;
      border-left: 1px solid $c-border;
      &-img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-history {
    &__table {
      border-collapse: collapse;
    }

    &__td {
      padding: 20px;
      border-bottom: 1px solid $c-border;
      border-right: 1px solid $c-border;
      vertical-align: top;
      text-align: left;
    }

    &__label {

    }

    &__message {
      border-right: 0;
    }

    tr:last-child td {
      border-bottom: 0;
    }
  }
}
