<div class="action-card">
    <div class="content">
        <div class="top">
            {{ with .Get "title"}}<h2 class="title">{{.}}</h2>{{ end }}
            <div class="description">{{ .Get "description" | safeHTML}}</div>
            <div class="image">{{.Inner}}</div>
            <div class="caption"><p>{{.Get "caption"}}</p></div>
        </div>
        <div class="button">
            <a class="btn" href="{{ .Get "button-link" }}">{{ .Get "button-text" }}</a>
        </div>
        <div class="subtext">{{ .Get "subtext" }}</div>
    </div>
</div>