<div class="browser-list">
  <a class="browser-list__link" href="https://www.mozilla.org/en-GB/firefox/new/">
    <img class="browser-list__image" src="/firefox.png" />
    Firefox
  </a>
  <a class="browser-list__link" href="https://www.google.com/chrome/">
    <img class="browser-list__image" src="/chrome.png" />
    Chrome
  </a>
  <a class="browser-list__link" href="https://www.microsoft.com/en-us/edge/">
    <img class="browser-list__image" src="/microsoft-edge.png" />
    Edge
  </a>
</div>