<div class="heading {{ cond (eq (.Get 0) "left") "heading--left" "" }} {{if .Get "class"}}{{.Get "class"}}{{end}}" >
  <div class="
    skr-container
    {{ if .Get "top"  }}pt-{{ .Get "top" }}{{ end }}
    {{ if .Get "bottom"  }}pb-{{ .Get "bottom" }}{{ end }}
    {{ if .Get "mobile-top"  }}ptm-{{ .Get "mobile-top" }}{{ end }}
    {{ if .Get "mobile-bottom"  }}pbm-{{ .Get "mobile-bottom" }}{{ end }}
    {{ if .Get "width"  }}is-{{ .Get "width" }}{{ end }}
  ">
    <div class="heading-inner">
      {{.Inner}}
    </div>
  </div>
</div>

