<a href="https://www.youtube.com/watch?v=25bPfgO-RYs" class="glightbox">
  <img src="/logo-skribble.svg" alt="image">
</a>

<script>
  const lightbox = GLightbox({
    plyr: {
        css: 'https://cdn.plyr.io/3.5.6/plyr.css', // Default not required to include
        js: 'https://cdn.plyr.io/3.5.6/plyr.js', // Default not required to include
        ratio: '16:9',
        config: {
            muted: false,
            hideControls: true,
            youtube: {
                noCookie: true,
                controls: 0,
                rel: 0,
                showinfo: 0,
                iv_load_policy: 3
            }
        }
    }
});
</script>