<div class="picture">
  <a href="https://www.youtube.com/embed/{{.Get "vid-youtubeid"}}?rel=0"
  data-mediabox="my-gallery-name"
	data-iframe="true"
	data-width={{.Get "vid-width"}}
	data-height={{.Get "vid-height"}}
	data-title={{.Get "vid-description"}}>
    {{ $width_x2 := mul (int (.Get "pic-width")) 2 }}
      <picture>
        <source
          type="image/webp"
          srcset="image/{{.Get "pic-name"}}-{{.Get "pic-width"}}w.webp {{.Get "pic-width"}}w, image/{{.Get "pic-name"}}-{{$width_x2}}w.webp {{$width_x2}}w"
          sizes="(max-width: 767px) 100vw, 620px"
        />
        <source
          type="image/jpeg"
          srcset="image/{{.Get "pic-name"}}-{{.Get "pic-width"}}w.jpg {{.Get "pic-width"}}w, image/{{.Get "pic-name"}}-{{$width_x2}}w.jpg {{$width_x2}}w"
          sizes="(max-width: 767px) 100vw, 620px"
        />
        <img
          src="image/{{.Get "pic-name"}}-{{.Get "pic-width"}}w.jpg"
          alt="{{ .Get "pic-alt" }}"
          style="width:{{ .Get "pic-width" }}px;"
        />
      </picture>
    </a>
</div>